*{
    margin: 0;
    padding: 0;
}
body{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}
#canvas{
    border: rgb(72, 72, 72) 1px solid;
}
#eleccionBanco{
    position: absolute;
    z-index: 1;
    width: 450px;
    height: 200px;
    visibility: hidden;
    background-image: url('../assets/botones/madera.png');
    border: 3px solid rgb(95, 53, 12);
}
#eleccionBanco > p{
    margin-top: 15px;
    text-align: center;
    font-size: 20px;
    color: rgb(255, 234, 212);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
#ahorrar, #invertir, #retirar{
    border: 0;
    width: 150px;
    height: 50px;
    border-radius: 20px;
    font-family: 'Courier New', Courier, monospace;
}
#ahorrar{
    color: white;
    background-color: rgb(103, 167, 103);
}
#invertir{
    color: white;
    background-color: rgb(92, 169, 169);
}
#retirar{
    color: white;
    background-color:#2349f4;
}
#salir, #salirAhorros, #salirRetirar{
    margin-top: 5px;
    margin-right: 5px;
    border: 0;
    width: 20px;
    height: 20px;
    position: absolute;
    align-items: flex-end;
    color: white;
    background-color: rgb(186, 31, 31);
}
#filaBtns{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    flex-direction: row;
    margin-left: 50px;
    margin-right: 50px;
    height: 120px;
}
#ingresarAhorros, #retirarAhorros{
    position: absolute;
    z-index: 2;
    width: 450px;
    height: 200px;
    background-image: url('../assets/botones/madera.png');
    border: 3px solid rgb(95, 53, 12);
    visibility: hidden;
}
#filaAhorro, #filaRetirarAhorro{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-right: 50px;
    height: 120px;
    width: 400px;
    align-items: center;
    justify-content: center;
}
#filaAhorro > p, #filaRetirarAhorro > p{
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
#inpAhorro, #inpRetirarAhorro{
    color: #2349f4;
    margin-top: 15px;
    width: 150px;
    height: 50px;
    border: 0;
    text-align: center;
    outline: none;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}
#btn-ahorrar, #btn-retirar{
    margin-top: 15px;
    border: 0;
    width: 150px;
    height: 50px;
    background-color: rgb(103, 167, 103);
    font-family: 'Courier New', Courier, monospace;
}
#ventSembrar{
    position: absolute;
    z-index: 1;
    width: 700px;
    height: 500px;
    visibility: hidden;
    display: flex;
    flex-direction: column;
}
#filaSalir{
    display: flex;
    justify-content: end;
}
#filaSembrar{
    display: flex;
    flex-direction: row; 
    width: 100%;
    flex: 1;
}
#colTerreno{
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    
}
#colHerramientas{
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ctnTerreno{
    width: 220px;
    height: 70px;
}
.capaSuperior{
    margin-left: 10px;
    margin-right: 10px;
    height: 50%;
    background-color: rgb(3, 58, 14);
} 
.suelo{
    height: 50%;
    background-image: url('../assets/suelos/tierraseca.png');
    background-size: 150px;
    border-radius: 50px 50px;
}
.itemshe{
    width: 70px;
    height: 70px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(240, 238, 115);
    border-radius: 5px;
}
#pico{
    background-image: url('../assets/herramientas/pico.png');
    background-repeat: no-repeat;
    background-size: 80px;
}
#regadera{
    background-image: url('../assets/herramientas/regadera.png');
    background-size: 68px;
    background-repeat: no-repeat;
}
#pala{
    background-image: url('../assets/herramientas/pala.png');
    background-size: 90px;
    background-position: -10px;
    background-repeat: no-repeat;
}
#semillas{
    background-image: url('../assets/herramientas/semillas.png');
    background-size: 50px;
    background-position: 7px;
    background-repeat: no-repeat;
}
#hogar{
    background-image: url('../assets/botones/hogar.png');
    background-size: 50px;
    background-position: 7px;
    background-repeat: no-repeat;
}